:root {
    --c-border: #a5a5a5;
    --c-text: #a5a5a5;
    --c-dark: #555;
    --c-bg: rgb(1, 1, 1);
    --c-bg-transparent: rgb(1, 1, 1, 0.3);
    --c-focus: #0053ba;
    --fontsize: 0.75rem;
    --fontsize-small: 0.625rem;
    --z-ui: 100;
}
html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    background-color: whitesmoke;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 10fr;
    grid-template-rows: 40px 1fr 20px;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}
header > h1 {
    margin-left: 0.5em;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 1.5em 0.5em 1em 0.5em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
}

nav > span {
    margin-left: 7px;
    font-size: 0.875rem;
    font-weight: 700;
}
nav > button {
    margin-left: 0.5em;
}
nav > button > span {
    margin-left: 0.5em;
}
nav > hr {
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    display: none;
}
/* ::-webkit-scrollbar-track {
  appearance: none;
  border: 1px solid var(--c-dark)
}
::-webkit-scrollbar-thumb {
    background: var(--c-dark); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-dark); 
}
::-webkit-scrollbar-button {
  visibility: hidden;
} */

section.status {
    direction: rtl;
    width: 290px;
    bottom: 22px;
    left: 0px;
    height: 200px;
    z-index: var(--z-ui);
    position: absolute;
    scroll-behavior: auto;
    padding-right: 0.5em;
    overflow-y: scroll;
    color: var(--c-text);
    opacity: 0.9;
    background: var(--c-bg-transparent);
    border-top-right-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.65rem;
}
section.status > div {
    padding-left: 7px;
    text-align: left;
    white-space: pre-wrap;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
footer > span {
    margin-left: 0.4em;
}
footer > progress {
    -webkit-appearance: none;
}
::-moz-progress-bar {
    background: transparent;
}
::-webkit-progress-bar {
    background-color: transparent;
    /* border: 1px solid var(--c-dark); */
}
::-webkit-progress-value {
    background: var(--c-dark);
    /* color: var(--c-dark); */
}
footer > progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-left: 5px;
    margin-right: 2px;
    width: 300px;
    height: 10px;
    /* color: var(--c-border); */
    /* background-color: var(--c-dark); */
}
#spanProgress {
    margin-left: 0;
    min-width: none;
    padding-left: 0;
    /* width: 30px; */
}

hr {
    border-top: 1px solid var(--c-border);
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: none;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

button {
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    padding: 0 0.2em;
    margin: 0.1em 0.2em;
    height: 2.2em;
    background: none;
    color: var(--c-text);
    cursor: pointer;
    transition: background 50ms ease-in-out, transform 50ms ease;
    display: flex;
    align-items: center;
}

button:hover {
    border: 1px solid var(--c-border);
}

button:active {
    transform: scale(0.99);
}

/**
  input button hacks, ugh
*/
input[type='file'] {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.label {
    color: var(--c-text);
    /* font-family: sans-serif; */
    /* padding: 2px; */
    /* background: rgba(0, 0, 0, 0.6); */
}
